* { box-sizing: border-box; }

body {
    display: flex;
    margin: 0;
    font-family: "Comic Sans MS", cursive;
    background-color: #f4f7f6;
    min-height: 100vh;
}


.contenedor {
    width: 240px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
}

nav a {
    text-decoration: none;
    color: #666;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a.active, nav a:hover {
    background-color: #e7f0ff;
    color: #007bff;
}


.content {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap; /* Para que en móvil no se amontone */
    gap: 15px;
}


/* BOTÓN */
.btnNew {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,123,255,0.2);
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 2rem;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    border-left: 5px solid #007bff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}


@media (max-width: 768px) {
    body { flex-direction: column; }
    .contenedor {
        width: 100%;
        height: auto;
        border-right: none;
    }
    nav { flex-direction: row; overflow-x: auto; }

    #iframe {
        width: 100%; /* El iframe ocupa el 100% en pantallas pequeñas */
        height: 100%;
    }
}


#iframe{
    flex-shrink: 0;  /* El iframe no se reduce de tamaño */
}


