body{
    font-size: 13px;
    font-family:"Comic Sans MS", "Comic Sans";
    display: flex;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;     /* vertical */
    height: 100vh;           /* altura completa de la ventana */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6e0e04b;
}

img {
    display: flex;
    justify-content: center;
}

#registerUser {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;          
    flex-direction: column; 
    justify-content: left; 
    align-items: left;
}

#Register{
    line-height: 2.5rem;
}

#register{
    color: blue;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

input{
    width: 100%;
    border-radius: 12px;
    border-color: rgba(39, 40, 41, 0.233);
}